@charset "UTF-8";

body {
	background-color: #66bae9;
}

table {
	width: 100%;
}

td#viewAccountColumn{
	text-align: center;
}

a {
	text-decoration: none;
	color: white;
	font-family: sans-serif;
}

.wrapper {
	margin-top: 90px;
	margin-bottom: 20px;
}

.form-signin {
	max-width: 420px;
	padding: 30px 30px 30px;
	margin: 0 auto;
	background-color: #eee;
	border: 3px solid rgba(0, 0, 0, 0.1);
	font-family: arial;
}

.form-signin-heading {
	text-align: center;
	margin-bottom: 30px;
}

div#accounts {
	max-width: 420px;
	padding: 30px 30px 30px;
	margin: 0 auto;
	background-color: #eee;
	border: 3px solid rgba(0, 0, 0, 0.1);
	font-family: arial;
}

.form-control {
	position: relative;
	font-size: 16px;
	height: auto;
	padding: 10px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width: 100%;
}

input[type="text"] {
	margin-bottom: 5px;
	border-radius: 5px;
	display: block;
	border: solid 1px #c9c9c9;
}

input[type="password"] {
	margin-bottom: 20px;
	border-radius: 5px;
	display: block;
	border: solid 1px #c9c9c9;
}

select {
	width: 100%;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding: 10px;
	margin-bottom: 5px;
	border: solid lightgray 1px;
	font-size: 16px;
	border-radius: 5px;
}

.colorgraph {
	height: 7px;
	border-top: 0;
	background: #c4e17f;
	border-radius: 5px;
	background-image: -webkit-linear-gradient(left, #66bae9 0%, #62c2e4 100%);
	background-image: -moz-linear-gradient(left, #66bae9 0%, #62c2e4 100%);
	background-image: -o-linear-gradient(left, #66bae9 0%, #62c2e4 100%);
	background-image: linear-gradient(left, #66bae9 0%, #62c2e4 100%);
}

button {
	background-color: #66bae9; /* Blue */
	border: none;
	color: white;
	padding: 15px 32px;
	border-radius: 5px;
	text-align: center;
	text-decoration: none;
	display: block;
	font-size: 12px;
	width: 100%;
}

a.blue {
	color: #66bae9;
}