@charset "UTF-8";
.wrapper {    
	margin-top: 80px;
	margin-bottom: 20px;
}

.form-signin {
  max-width: 420px;
  padding: 30px 38px 66px;
  margin: 0 auto;
  background-color: #eee;
  border: 3px solid rgba(0,0,0,0.1);  
  }

.form-signin-heading {
  text-align:center;
  margin-bottom: 30px;
}

.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
}

input[type="text"] {
  margin-bottom: 5px;
  border-radius: 5px;
  display:block;
  border: solid 1px #c9c9c9;
}

input[type="password"] {
  margin-bottom: 20px;
  border-radius: 5px;
  display:block;
  border: solid 1px #c9c9c9;
}

.colorgraph {
  height: 7px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #66bae9 0%, #62c2e4 100%);
  background-image: -moz-linear-gradient(left, #66bae9 0%, #62c2e4 100%);
  background-image: -o-linear-gradient(left, #66bae9 0%, #62c2e4 100%);
  background-image: linear-gradient(left, #66bae9 0%, #62c2e4 100%);
}

button {
    background-color: #66bae9; /* Blue */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
}